canvas{

    border: 1px solid brown;
    background: lightskyblue;
    position: fixed;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

}


@font-face {
    font-family: 'arcade';
    src: url("./font/ArcadeAlternate.ttf");
}